<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy Link Homepage</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <a style="text-align: right; float: right;" href="/">Logout</a>
        <a style="text-align: right; float: right; padding-right:20px;" href="/profile">View profile</a>
        <br/>
        <h1 style="text-align: center;">Welcome {{user.first_name}}</h1>
        
        <div class="leftColumn">
            <h3>Events in your area</h3>
        </div>
        
    </body>
</html>