<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login to AggieLink</title>
    </head>
    <body>
        <a href="/" style="float: left;">Back</a>
        <br><br>
        <h1>Login to Aggie Link</h1>
        <form action="/home">
            Username:<br>
            <input type="text" name="username">
            <br>
            Password:<br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Submit">
          </form> 
    </body>
</html>