<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>View Profile</title>
        <link rel="stylesheet" href="templates/style.css">
    </head>
    <body>
        <a style="float: left;" href="/home/">Back</a>
        <a style="text-align: right; float: right;" href="/">Logout</a>
        <a style="text-align: right; float: right; padding-right: 20px;" href="/editProfile">Edit your profile</a>
        <h1 style="text-align: center; width: 100%;display:inline-block;">User's Profile</h1>
        
        <!-- <div>
            <p> {{user1.first_name}} </p>
            <ul>
                {% for activity in user1.interests %}
                <li> {{ activity }}  </li>
                {% endfor %}
            </ul>
        </div> -->
        
    </body>
</html>