<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Become a member of AggieLink</title>
    </head>
    <body>
        <a href="/launch/" style="float: left;">Back</a>
        <br><br>
        <h1>Become a member of AggieLink</h1>
        <form action="/home" method="post">
            First Name:<br>
            <input type="text" name="first_name">
            <br>
            Last Name:<br>
            <input type="text" name="last_name">
            <br>
            Age:<br>
            <input type="text" name="age">
            <br>
            Username:<br>
            <input type="text" name="username">
            <br>
            Password:<br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Post">
          </form> 
    </body>
</html>